<h1>Editor de Autos</h1>

<%= render "form", car: @car %>

<br>

<div>
  <%= link_to "Ver este Auto", @car, class:'btn btn-info mb-3' %>
  <%= link_to "Regresar", cars_path, class:'btn btn-secondary mb-3' %>
</div>
