
<h1>Autos Eléctricos</h1>

<div id="cars">
  <% @cars.each do |car| %>
    <%= render car %>
    <p>
      <%= link_to "Ver este auto", car %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo Auto", new_car_path, class:'btn btn-primary mb-3' %>
